* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-blk: #0D0D0D;
    --color-wht: #FFFFFF;
   
}

body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    transform: translateY(-135%)
}

.topBar {
    width: 100%;
    height: max-content;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: antiquewhite;
}

.navBar {
    position: fixed;
}


.nav {
    cursor: pointer;
    width: max-content;
    width: max-content;
    padding: 1em;
    font-size: 2em;
    margin: auto;
    font-weight: bold;
}

.coName {
    font-size: 1.2em;
    padding: .5em;
}

/* Burger (mobile only) */

.burger {
    width: max-content;
    padding: 1em;
  } 

.b-top {
    background-color: var(--color-blk);
    width: 3em;
    height: 3px;
    margin-bottom: .5em;
}

.b-bot {
    background-color: var(--color-blk);
    width: 1.5em;
    height: 3px;
    margin-left: auto;
}

.b-bot-click {
    width: 3em;
}

.slider {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.slider img {
    width: 24em;
    height: 18em;
    margin: auto;
    padding: 1em;
}

.mainSaidbar img {
    width: 24em;
    height: 18em;
    margin: auto;
    padding: 1em;
}